<md-dialog aria-label="Add Account" style="min-width: 360px;" class="add-account-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color: #EDEDED;">
            <h2 class="v2-color">Update Avatar</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="answer('not applicable')">
                <i aria-label="close" class="mdi mdi-close icon-size-2" style="color: #999;line-height: 48px;"></i>
            </md-button>
        </div>
    </md-toolbar>
    <upload-avatar></upload-avatar>
</md-dialog>