<md-dialog class="select-account-dialog" aria-label="Select Account" ng-cloak>

    <md-toolbar>
        <div bg="primary" class="md-toolbar-tools">
            <h2 class="white">Account Manage</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <i aria-label="close" class="mdi white mdi-close icon-size-2"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-padding" layout="column">
            <md-input-container md-no-float class="md-block">
                <input placeholder="FILTER BY ACCOUNT, LOCKER, ...." ng-model="filterText" type="text">
            </md-input-container>
            <md-grid-list md-cols="2" md-row-height="1:1.4" md-gutter="8px">
                <md-grid-tile class="md-whiteframe-4dp" ng-repeat="account in accounts | filter : {name:filterText}">
                    <div ng-click="!account.active && changeAccount(account)" class="acc-tile" ng-class="{'no-active':!account.active}" layout="column">
                        <div style="position: relative;">
                            <img on-error ng-src="{{account.thumbnailUrl}}" alt="{{account.name}}">
                        </div>
                        <div class="md-padding" layout="column">
                            <span class="title">{{account.name}}</span>
                            <span class="time" layout="row" layout-align="start center">
                                <i class="mdi icon-size-1 mdi-clock"></i><span class="font-size-12">{{account.dateCreated | date : 'MMM,d yyyy'}}</span>
                            </span>
                            <div layout="row" layout-align="start center">
                                <img style="width:30px;height: 30px;" alt="{{ ::account.user.username }}" ng-src="{{ ::account.user.img }}" class="circle-img-s" />
                                <dl>
                                    <dt>{{::account.user.username}}</dt>
                                    <dd>{{account.isManager ? 'Owner' : ''}}</dd>
                                </dl>
                            </div>
                            <a ng-click="manageThisAccount(account,$event)" href="javascript:void 0">View Details</a>
                        </div>
                    </div>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </md-dialog-content>
    <div  ng-if="isIntegrator" class="dal-fab-btn" style="position: fixed;background-color:transparent;right:0;z-index:4;bottom:0;height:70px;width: 90px;overflow: hidden;">
        <div style="position: relative;" ng-click="addAccount()">
            <md-button aria-label="menu" class="md-fab" >
                <i style="font-size:24px;color:#006fd5;" class="mdi vertical-align-middle dalello-icon-account-folder_black"> </i>
            </md-button>
            <div class="fb-background"></div>

        </div>
    </div>





    <!--<div class="md-padding" layout="column">-->
        <!--<div layout="row" layout-align="start center" style="padding-bottom: 8px;">-->
            <!--<i class="mdi mdi-close" style="color:black;font-size: 24px;" ng-click="hide()"></i>-->
            <!--<span class="v2-color" style="font-size: 18px;padding-left: 20px;">Accounts</span>-->
        <!--</div>-->
        <!--<md-divider></md-divider>-->
        <!--<div layout="row" layout-align="center center" style="height:42px;">-->
            <!--<span style="color: #626469;">Select account to manage asset</span>-->
            <!--<span flex></span>-->
            <!--<md-button class="mobile-account-addaccount" ng-click="addAccount()" >Add account</md-button>-->
        <!--</div>-->
    <!--</div>-->
    <!---->
    <!--<div class="change-account-dialog-list">-->
        <!--<md-grid-list-->
                <!--md-cols="2"-->
                <!--md-row-height="2:3"-->
                <!--md-gutter="8px">-->
            <!--<md-grid-tile ng-repeat="account in accounts"-->
                          <!--md-rowspan="1" md-colspan="1">-->
                <!--<div class="card-shadow acc-tile" ng-click="!account.active && changeAccount(account)" ng-class="{'active':account.active}" layout="column">-->
                    <!--<div style="position: absolute;height: 120px;left:0;right: 0;top: 0;overflow: hidden;background-color: black;" layout="row" layout-align="center center">-->
                        <!--<i class="mdi mdi-star color-warning icon-size-1" ng-if="account.isManager" style="position:absolute;top:3px;left:3px;z-index:3;"></i>-->
                        <!--<img ng-src="{{account.thumbnailUrl}}" alt="{{account.name}}">-->

                        <!--<md-menu ng-if="account.active && account.isManager">-->
                            <!--<md-button aria-label="Open account menu" class="aop-btn md-icon-button" ng-click="$mdOpenMenu($event)">-->
                                <!--<i class="mdi mdi-dots-vertical"></i>-->
                            <!--</md-button>-->
                            <!--<md-menu-content width="2">-->
                                <!--<md-menu-item>-->
                                    <!--<md-button ng-click="manageThisAccount(account,$event)">-->
                                        <!--Manage-->
                                    <!--</md-button>-->
                                <!--</md-menu-item>-->
                                <!--<md-menu-item ng-if="isIntegrator">-->
                                    <!--<md-button ng-click="deleteAccount(account,$event)">-->
                                        <!--Delete-->
                                    <!--</md-button>-->
                                <!--</md-menu-item>-->
                            <!--</md-menu-content>-->
                        <!--</md-menu>-->
                    <!--</div>-->
                    <!--<div layout="column" style="position: absolute;top: 120px;bottom:0;left:0;right: 0;background-color: white;" >-->
                        <!--<div style="font-size: 16px;" class="text-overflow-hidden v2-color md-little-padding">-->
                            <!--{{account.name}}-->
                        <!--</div>-->
                        <!--<div layout="row" class="md-little-padding" style="padding-top: 0;">-->
                            <!--<div>-->
                                <!--<i class="mdi icon-size-1 mdi-clock  vertical-align-middle" style="padding-right: 5px;font-size: 16px;"></i><span class="vertical-align-middle font-size-12">{{account.dateCreated | date : 'MMM,d yyyy'}}</span>-->
                            <!--</div>-->
                            <!--<span flex></span>-->
                            <!--<div>-->
                                <!--<i style="color: #f27065;font-size:13px;" class="vertical-align-middle mdi mdi-heart icon-size-1"></i>-->
                                <!--<span class="font-size-1 vertical-align-middle">{{account.numberOfFollowers || 0}}</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div style="margin:0 10px;height:1px;background-color:#aaaaaa;"></div>-->
                        <!--<div layout="row" class="md-caption v2-color md-little-padding" layout-align="start center">-->
                            <!--<span>Owner:</span>-->
                            <!--<span class="dal-h-spacing-small"></span>-->
                            <!--<img style="width:30px;height: 30px;" alt="{{ ::account.user.username }}" ng-src="{{ ::account.user.img }}" class="circle-img-s" />-->
                            <!--<span class="dal-h-spacing-small"></span>-->
                            <!--<span style="overflow:hidden;text-overflow:ellipsis;">{{::account.user.username}}</span>-->
                        <!--</div>-->
                        <!--<a style="margin-left: 8px;color:#30cdff;font-size: 12px;margin-bottom:8px;"  ng-click="manageThisAccount(account,$event)" >Account details</a>-->


                    <!--</div>-->

                <!--</div>-->
            <!--</md-grid-tile>-->
            <!--&lt;!&ndash;<md-grid-tile ng-if="isIntegrator" ng-click="addAccount()" md-rowspan="1" md-colspan="1">&ndash;&gt;-->
                <!--&lt;!&ndash;<div layout="column" layout-align="center center">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="mdi mdi-plus-circle color-black"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="v2-color">Add account</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</md-grid-tile>&ndash;&gt;-->
        <!--</md-grid-list>-->
    <!--</div>-->

</md-dialog>