<div layout="column" class="daily-stats-view">
    <div ng-show="showTitle !== 'false'" class="v2-color md-padding" style="font-size: 18px;">
        MY DAILY STATS
    </div>

    <div class="btn-tabs" layout="row">
        <md-button ng-class="{'bar_active':currentMode === 'visits'}" ng-click="switchSeeMode('visits')">Visits
        </md-button>
        <md-button ng-class="{'bar_active':currentMode === 'comments'}" ng-click="switchSeeMode('comments')">Comments
        </md-button>
    </div>
    <div layout="column" class="md-padding">
        <div layout="row">
            <div class="legend" layout="column">
                <a ng-click="selectSerie(key)" href="javascript:void(0)" ng-if="value.active" ng-repeat="(key, value) in legends">
                    <i ng-style="{color:value.selected ? value.color : 'black'}" class="dli {{value.icon}}"></i>
                </a>
            </div>
            <div class="stats-height" flex>
                <div layout="row" id="{{currentId}}" style="height:100%;width:100%;">
                    <div ng-show="loadingStats" style="width: 100%;height:100% ;" layout="row"
                         layout-align="center center">
                        <md-progress-circular ng-show="!hideLoading" md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="center center">
            <span class="v2-color" style="font-size: 18px;font-weight: bold;;">Total {{currentMode}}</span>
            <span class="v2-color" style="height: 40px;width: 1px;background-color: #3c3c3c;margin: 0 8px 0 25px;"></span>
            <span style="font-size: 40px;">{{currentModeTotalNumber || 0}}</span>
            <span flex></span>
        </div>
    </div>


</div>