<div>
    <div style="background-color: #006fd5;height:50px;padding:0 15px 0 5px;" layout="row" layout-align="start center">
        <i class="mdi mdi-chevron-left" style="color:#fff;height:50px;font-size: 36px;" ng-click="cancel()"></i>
        <span style="color:#fff;font-size: 16px;font-weight: bold;line-height: 50px;">{{lockrInfodata.name}}</span>
        <span flex></span>
        <i class="mdi dalello-icon-more_black icon-size-2" style="font-size:16px;color:#fff;" ></i>
    </div>
</div>