<md-sidenav
        style="z-index: 99999;width: 100%;max-width: 100%;min-height: 100%;top:0;background-color: #f5f5f5;overflow: hidden;"
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$dalMedia('gt-xs')"
        md-disable-backdrop
        md-whiteframe="4">
        <div class="mobile-header">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button style="margin-left: 0;padding-left: 0;width: 30px;" class="md-icon-button" ng-click="closeDetailsInfo()" aria-label="Menu">
                        <md-icon><i class="mdi mdi-arrow-left tb-icon"></i></md-icon>
                    </md-button>
                    <span style="overflow: hidden;text-overflow: ellipsis;color: #3a3a3a;white-space: nowrap;font-size: 20px;">{{currentLockrDetails.name}}</span>
                    <span flex></span>
                </div>
            </md-toolbar>
        </div>
        <div style="background-color: #f5f5f5;position: absolute;top: 56px;bottom: 0;left: 0;right: 0;overflow: scroll;">
            <div layout="row" style="height: 40px;">
                <div ng-class="{'active':currentTab === 'info'}" ng-click="switchInfoTab('info')" class="sublockr-info-tab" flex layout="row" layout-align="center center">
                    <i class="mdi mdi-alert-circle"></i>
                </div>
                <div ng-class="{'active':currentTab === 'collaborator'}" ng-click="switchInfoTab('collaborator')" class="sublockr-info-tab" flex layout="row" layout-align="center center">
                    <i class="mdi mdi-account-multiple-plus"></i><span style="padding-left: 5px;">{{accessUsers.length || 0}}</span>
                </div>
            </div>


            <div ng-show="currentTab === 'info'" class="md-padding">
                <div class="card-shadow" style="position: relative;">
                    <div class="image" style="width:100%;height:auto;overflow: hidden;position: relative;"><img style="width:100%;" data-ng-src="{{currentLockrDetails.thumbnailUrl}}"></div>

                    <i class="mdi mdi-lock-outline sublockr-lock-icon" ng-show="currentLockrDetails.locked"></i>
                    <i class="mdi mdi-lock-open-outline sublockr-lock-icon" ng-show="!currentLockrDetails.locked"></i>

                    <div style="padding: 10px;" class="clearfix">
                        <div class="pull-left">
                            <i class="mdi icon-size-1 mdi-clock  vertical-align-middle" style="padding-right: 5px;"></i><span class="vertical-align-middle font-size-1">{{currentLockrDetails.dateCreated | date : 'MMM,d yyyy'}}</span>
                        </div>

                        <div class="pull-right"  style="margin-left: 10px;">
                            <i style="color: #f27065;font-size:13px;" class="vertical-align-middle mdi mdi-heart icon-size-1"></i>
                            <span class="font-size-1 vertical-align-middle">{{currentLockrDetails.numberOfFollowers || 0}}</span>
                        </div>
                        <div class="pull-right">
                            <ul class="list-unstyled clearfix">
                                <li class="pull-left" style="margin-right: 5px;">
                                    <div>
                                        <i class="mdi vertical-align-middle mdi-image-filter v2-color icon-size-1"></i>
                                        <span class="vertical-align-middle font-size-1">{{currentLockrDetails.assetExtraInfo.totalImageNumber || 0}}</span>
                                    </div>
                                </li>
                                <li class="pull-left">
                                    <div>
                                        <i class="mdi mdi-filmstrip vertical-align-middle v2-color icon-size-1"></i>
                                        <span  class="vertical-align-middle font-size-1">{{currentLockrDetails.assetExtraInfo.totalVideoNumber || 0}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="clearfix" style="padding: 10px 0;">
                    <md-button class="pull-left" style="margin:0;text-transform:none;"  ng-click="openEditLockrDialog($event,currentLockrDetails)">
                        <i class="mdi mdi-pencil icon-size-2 vertical-align-middle"></i>
                        <span class="inline-block vertical-align-middle v2-color">Edit lockr</span>
                    </md-button>
                    <md-button ng-show="!isFollowedByMe" class="pull-right" style="margin:0;text-transform:none;padding:0 3px;"  ng-click="followLockr($event,{id:currentLockrDetails.id,name:currentLockrDetails.name})">
                        <i class="mdi mdi-heart icon-size-2 vertical-align-middle" style="color: #e1e1e1;"></i>
                        <span class="vertical-align-middle v2-color">Follow lockr</span>
                    </md-button>
                    <md-button ng-show="isFollowedByMe" ng-click="unFollowLockr($event)" class="pull-right" style="margin:0;text-transform:none;padding:0 3px;">
                        <i class="mdi mdi-heart icon-size-2 vertical-align-middle" style="color:#f27065;"></i>
                        <span class="vertical-align-middle v2-color">Unfollow</span>
                    </md-button>
                </div>

                <p style="padding: 10px;background-color:rgb(247,247,247);color:rgb(160,160,160);font-size: 14px;position: relative;letter-spacing: 0.3px;">{{currentLockrDetails.description == '' ? "No description":currentLockrDetails.description}}</p>

                <div style="padding: 5px 0;">
                    <span style="display: inline-block;" class="v2-color">Sharing Rules </span>
                </div>

                <p class="md-wordbreak-keepall" ng-if="!sharingRules.length">This lockr has no any sharing rules. Please add or assign a sharing rule.</p>

                <div style="padding:10px 10px 20px 10px;box-shadow: 0 0 18px 0 rgba(0,0,0,.084),0 0 12px 0 rgba(0,0,0,.098),0 0 5px -1px rgba(0,0,0,.15);
                     -webkit-box-shadow: 0 0 18px 0 rgba(0,0,0,.084),0 0 12px 0 rgba(0,0,0,.098),0 0 5px -1px rgba(0,0,0,.15);
                     -o-box-shadow: 0 0 18px 0 rgba(0,0,0,.084),0 0 12px 0 rgba(0,0,0,.098),0 0 5px -1px rgba(0,0,0,.15);
                     -moz-box-shadow: 0 0 18px 0 rgba(0,0,0,.084),0 0 12px 0 rgba(0,0,0,.098),0 0 5px -1px rgba(0,0,0,.15);
                     -ms-box-shadow: 0 0 18px 0 rgba(0,0,0,.084),0 0 12px 0 rgba(0,0,0,.098),0 0 5px -1px rgba(0,0,0,.15);margin-bottom: 10px;" ng-repeat="item in sharingRules">

                    <div>{{item.name}}
                        <div style="float:right;position: relative;">
                            <a class="v2-color" ng-click="editLockrSharingRule(item)" style="text-decoration: underline;outline: none;">Edit</a>
                            <i class="mdi mdi-close v2-color" ng-click="unassignSharingRule(item)" style="margin: 0px 10px;font-size: 15px;"></i>
                        </div>
                    </div>

                    <div style="width: 220px;margin: 10px 0">
                        <div>
                            <i ng-repeat="shareon in item.shareMime" style="font-size: 18px;margin-left: 5px;vertical-align: middle;" class="mdi {{shareon}}"></i>
                            <span style="vertical-align: middle;">shared on</span>
                            <i ng-repeat="social in item.shareSocialType" style="font-size: 18px;margin-left: 5px;vertical-align: middle;" class="mdi {{social}}"></i>
                        </div>
                    </div>

                    <div style="width: 220px;margin-top: 10px;">
                        <span class="v2-color vertical-align-middle" style="width: 95px;display: inline-block;">Lisence type :</span>
                        <div class="vertical-align-middle" style="display: inline-block;overflow: hidden;height: 30px;">
                            <img ng-src="{{item.creativeImage}}" alt="{{item.name}}">
                        </div>
                    </div>

                </div>

                <div layout="column" layout-align="center center">
                    <md-button style="background-color:#006fd5;color: white;padding: 2px 16px;" ng-click="openAddSharingRuleDialog($event)">Add sharing rules</md-button>
                    <md-button style="background-color:#006fd5;color: white;padding: 2px 16px;" ng-click="assignLockrSharingRule($event)">Assign sharing rules</md-button>
                </div>
            </div>


            <div ng-show="currentTab === 'collaborator'" class="md-padding">
                <div class="dl-collaborators" ng-show="currentLockrDetails.lockrType !== 'SafeLockr'">
                    <md-list>
                        <div ng-repeat="user in accessUsers">
                            <md-list-item class="md-2-line">
                                <img ng-src="{{user.userPic}}" style="margin-top: 21px;width: 30px;height: 30px;" class="md-avatar" alt="{{user.username}}" />
                                <div class="md-list-item-text">
                                    <h3 style="font-size: 14px;">{{user.firstName}} {{user.lastName}}</h3>
                                </div>
                                <i class="mdi mdi-message-text-outline" style="line-height: 72px;font-size: 22px;"></i>
                            </md-list-item>
                            <md-divider ng-show="$index !== accessUsers.length - 1"></md-divider>
                        </div>
                    </md-list>

                    <div class="text-right">
                        <md-button style="text-transform: none;">
                            <i class="mdi mdi-plus-circle-outline vertical-align-middle" style="font-size: 22px;color: black;"></i>
                            <span class="vertical-align-middle" ng-click="addCollaborator($event)" style="font-size: 10px;outline: none;">Add collaborator</span>
                        </md-button>
                    </div>
                </div>

            </div>


        </div>
</md-sidenav>