<div class="dal-body-h">
    <div class="dal-fix-footer">
        <div ng-if="!mobileDevice" >
            <dalockr-header></dalockr-header>
            <div ng-if="!mobileDevice" class="lockr-details-navbar container-fluid">
                <div layout="row">
                    <div flex>
                        <i class="mdi mdi-chevron-left vertical-align-middle" ng-click="backToHome()" style="color: white;line-height: 45px;cursor: pointer;outline: none;"></i>
                        <a class="vertical-align-middle" style="text-decoration:none;display: inline-block;color: white;position: relative;font-size: 18px;outline: none;">Profile</a>
                    </div>
                </div>
            </div>
            <user-profile></user-profile>
        </div>
        <div ng-if="mobileDevice">
            <div style="background-color: #006fd5;height:50px;padding:0 15px 0 5px;" layout="row" layout-align="start center">
                <i class="mdi mdi-chevron-left" style="color:#fff;height:50px;font-size: 36px;" ng-click="backToHome()"></i>
                <span style="color:#fff;font-size: 16px;font-weight: bold;line-height: 50px;">{{username}}</span>
                <span flex></span>
            </div>
            <user-profile></user-profile>
        </div>

    </div>
    <dalockr-footer ng-if="!mobileDevice"></dalockr-footer>
</div>